.awesome {
  padding: 80px 0px;
  background-color: #fff;
}
.awesome__cards-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.awesome__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  max-width: 371px;
}
.awesome__card-img {
  border: 1px solid #ec7979;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  margin: 0 auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
}
.awesome__card-img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 8px 0 #ec7979;
}

.fa-lightbulb,
.fa-keyboard,
.fa-bolt-lightning {
  font-size: 42px;
  font-weight: 700;
  color: #ec7979;
}
.awesome__card-title {
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto 30px;
  text-align: center;
}
.awesome__card-text {
  color: #191919;
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans";
  margin: 0 auto 10px;
  text-align: center;
}


@media (max-width: 1024px) {
.awesome {
  padding: 68px 0px;
}
.container{
  max-width: 992px;
}
.awesome__card {
  max-width: 318px;
}
.awesome__card-img {
  width: 79.55px;
  height: 79.55px;
}
.fa-lightbulb,
.fa-keyboard,
.fa-bolt-lightning {
  font-size: 36px;
}
.awesome__card-title {
  font-size: 18px;
  margin: 0 auto 22px;
}
.awesome__card-text {
  font-size: 14px;
}
}

@media (max-width: 320px) {
    .awesome {
  padding: 60px 0px;
}
.awesome__cards-wrap {
  display: flex;
  flex-direction: column;
  
}
.awesome__card {
  width: 100%;
  margin-bottom: 10px;
}
.awesome__card-img {
  width: 79.55px;
  height: 79.55px;
  margin: 0 auto 35px;
}

.awesome__card-title {
  font-size: 18px;
}
.awesome__card-text {
 font-size: 14px;
}
}
