.axure {
  padding: 80px 0px;
  background-image: url(../img/image.svg);
  position: relative;
  overflow: hidden;
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.axure::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.axure__btn {
  margin: 0 auto 3px;
  border: 2px solid #ffffff;
  width: 370px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
   position: relative;
    transition: 0.4s;
}
.axure__btn:hover{ 
   transform: scale(0.95);
     border: 2px solid #ec7979;

}
.axure__btn-download {
  line-height: 58px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  width: 100%;
   position: relative;
    transition: 0.4s;
}
.axure__btn-download:hover{
  color: #ec7979;
}



@media (max-width: 1024px) {
  .axure {
  padding: 50px 0px;
 
}
.axure__btn {
  width: 318px;
}
}

@media (max-width: 320px) {
     .axure {
  padding: 50px 0px;
 
}
.axure__btn {
  width: 287px;
}
}
