@import url("../style/cdn.css");
@import url("../style/header.css");
@import url("../style/awesome.css");
@import url("../style/pricing.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.title {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto 40px;
  text-align: center;
}

.title::after {
  content: "";
  width: 170px;
  height: 1px;
  background-color: #ec7979;
  display: block;
  margin: 40px auto 0;
}
.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #86878b;
  margin: 0px auto 90px;
  text-align: center;
}
