@import url("../style/cdn.css");
@import url("../style/header.css");
@import url("../style/axit.css");
@import url("../style/social.css");
@import url("../style/awesome.css");
@import url("../style/pricing.css");
@import url("./customers.css");
@import url("../style/axure.css");
@import url("../style/contact.css");
@import url("../style/footer.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 2;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input:focus {
  outline: none;
}

label {
  color: #BDBDBD;
  font-size: 14px
}

.title {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto 40px;
  text-align: center;
}

.title::after {
  content: "";
  width: 170px;
  height: 1px;
  background-color: #ec7979;
  display: block;
  margin: 40px auto 0;
  text-transform: uppercase;
}
.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #86878b;
  margin: 0px auto 90px;
  text-align: center;
}
.axure__title {
  color: #ffffff;
}
.axure__title::after {
  content: "";
  width: 170px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin: 40px auto 0;
}

.axure__subtitle {
  color: #ffffff;
}


@media (max-width: 1024px) {
  .container {
  max-width: 992px;
}
  .title {
  font-size: 24px;
}

.title::after {
  width: 142px;
  margin: 32px auto 0;
}
.subtitle {
  font-size: 14px;
  margin: 0px auto 32px;
}
.axure__title::after {
  width: 142px;
  margin: 32px auto 0;
}

}

@media (max-width: 320px) {
    .container {
  max-width: 288px;
  margin: 0 auto;
  padding: 0;
    
}
}

