.pricing {
  padding: 80px 0px;
  background-color: #f5f5f5;
}
.pricing__lists-wrap {
   display: flex;
  justify-content: space-between;
}
.pricing__list {
    display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 370px;
  position: relative;
   transition: 0.6s;
     margin-right: 10px;
 
}
.pricing__list:last-child{
      margin-right: 0px;
}
.pricing__list:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 25px 0px;

}
.pricing__list-title {
   margin-bottom: 2px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background-color: #333333;
  text-align: center;
  line-height: 60px;
}
.pricing__list-price {
    margin-bottom: 2px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  background-color: #333333;
}
.pricing__list-subtitle {
   margin-bottom: 2px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.709);
  line-height: 50px;
  background-color: #333333;
  text-align: center;
}
.pricing__list-item {
    margin-bottom: 2px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  color: #86878b;
  text-align: center;
  background-color: #fff;
  line-height: 50px;
}
.pricing__list-item:last-child {
  margin-bottom: 0px;
}


@media (max-width: 1024px) {
  .pricing {
  padding: 50px 0px;
}
.pricing__list {
  width: 315px;
}
.pricing__list-title {
  line-height: 53px;
}
.pricing__list-price {
  line-height: 89px;
}
.pricing__list-subtitle {
  line-height: 44px;
}
.pricing__list-item {
  line-height: 44px;
}
}

@media (max-width: 320px) {
  .pricing {
  padding: 30px 0px;
}
.pricing__lists-wrap {
   display: flex;
   flex-direction: column;
}
.pricing__list {
  margin-bottom: 28px;
  width: 100%;
 
}
.pricing__list-title {
  font-size: 18px;
  line-height: 47px;
}
.pricing__list-price {
  font-size: 24px;
  line-height: 78px;
}
.pricing__list-subtitle {
  font-size: 14px;
  line-height: 39px;
}
.pricing__list-item {
  font-size: 14px;
  line-height: 39px;
}
    
}